.sidebar{ 
    text-decoration: none;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 225px;
    left: 0;
    background-color: beige;
    font-family: 'Open Sans',sans-serif;
}
.item{
    display: flex;
    align-items: center;
    height: 50px;
}
.icon{
    margin-left: 20px;
    width: 30px;
    color: #767676;
}
#active{
    background-color: #e8f2f5;
}
.heading{
    margin-left: 25px;
    color: #767676;
}
ul{
    list-style: none;
    margin: 0;
    padding-left: 0;
    border-bottom: 0.5px solid #767676;
    margin-bottom: 20px;
}
ul :hover{
    cursor: pointer;
    background-color: #A5A3A3;
    transition: .4s;
    border-radius: 10px;
}