.sidebar{ 
    text-decoration: none;
    height: 120%;
    background-color: beige;
    width: 225px;
    font-family: 'Open Sans',sans-serif;
}
.item{
    display: flex;
    align-items: center;
    height: 50px;
    color: #353536;
}
.icon{
    margin-left: 20px;
    width: 30px;
}
.heading{
    padding-left: 40px;
}
ul{
    height: max-content;
    list-style: none;
    border-bottom: 0.5px solid #767676;
}
ul :hover{
    cursor: pointer;
    background-color: #A5A3A3;
    transition: .4s;
    border-radius: 10px;
}